body{
  background:  snow;

}
nav {
  font-size: 16pt;
  font-family: arial;
  color: white;
  background-color: black ;
  border-radius: 5px;
  box-shadow: 10px 10px 5px grey;
  margin: 10px;
}

nav ul{
  list-style: none;
}

nav li {
 display: inline-flex;
}

li a {
  color: white;
  padding: 15px 120px;
  text-decoration: none;
  text-shadow: 2px 2px grey;

}

a:hover {color: lightgray;}


#part_5  img.hintergrund {
  display: block; z-index:-20;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
     }
#part_5{
       background: rgba(211,211,211,0.8);
       border-radius: 5px;
       text-align: center;
     }

#update{
  text-align: left;
  display: inline-grid;
  padding: 20px;
  margin: 30px;
}


/* Anpassung für kleinere Bildschirmgrößen (als Orientierung: Galaxy S9) */
@media (max-width: 500px) {
  li a {
    color: white;
    padding: 10px 50px;
    text-decoration: none;
    text-shadow: 2px 2px grey;

  }

  nav {
    font-size: 14pt;
  }

}
